* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



:root {

    --primary-color: #004777;
    --secondary-color: #A30000;
    --accent1-color: #FF7700;
    --accent2-color: #EFD28D;
    --heading-font: "Noto Sans", sans-serif;
    --text–font: "Roboto", sans-serif;
    --another: rgba(165, 105, 75, 1);







}


h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
    font-weight: 400;
    color: var(--accent1-color);
}

h1 {
    color: var(--primary-color);
}


h2 {
    color: var(--secondary-color);
}

p {
    font-family: var(--text–font);
    font-weight: 100;
    color: var(--primary-color);

}

.sociallink a {
    text-decoration: none;
}


.sociallink img {
    display: inline;
    gap: 1rem;
}

.sociallink img {
    width: 1rem;
}

.sociallink a:hover {
    background-color: unset;
}

header {
    font-weight: bold;
    display: grid;
    grid-template-columns: 200px auto;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 1000px;
    background-color: var(--accent2-color);
    opacity: 0.8;
}


header nav {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-around;
    padding: 0;
    font-family: Arial, sans-serif;

}

header a {
    display: block;
    color: navy;
    padding: 2rem;
    text-decoration: none;
    font-size: 1.2rem;

}

header a:hover {
    color: tomato;
    font-weight: 700;
    text-decoration: underline;
}

header nav li {
    flex: 1 1 auto;

}

.size-6 {
    width: 1em;
    color: rgba(0, 0, 255, 1);
}

header,
main,
footer {
    max-width: 1200px;
    margin: 0 auto;
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 120px;
    height: auto;

}

.hero {
    position: relative;

}


.hero h1 {
    position: absolute;
    top: 30px;
    left: 400px;
    background-color: antiquewhite;
    opacity: 0.8;
    margin: 1rem;
    padding: 1rem;




}

.hero article {
    position: absolute;
    background-color: azure;
    opacity: 0.8;
    top: 150px;
    margin: 0;
    padding: 0;

}




.hero article img {
    width: 12rem;
    margin: 2rem;
    float: right;
}



.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}


.history {
    margin: 60px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 2em;




}


.history h2,
.adventure h2 {
    grid-column: 1/-1;
    justify-self: center;
    padding: 1em 0;

}


.adventure {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    justify-items: center;
}

.adventure img {
    width: 200px;
}

figure:nth-of-type(odd) {
    background-color: var(--accent2-color);
    color: var(--secondary-color);
    align-self: center;
}


figure:nth-of-type(even) {
    background-color: var(--secondary-color);
    color: var(--accent2-color);
    align-self: center;
}

figcaption {
    text-align: center;
    padding: 1em 0;
}

footer {
    background-color: var(--secondary-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 100px;
}


footer p {
    color: #fff;
}





/* Contact Us */

.contact-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.contact,
.map {
    margin: 30px 0;
    padding: 10px;
    max-width: 350px;
    display: grid;
    gap: 2em;
    border-style: double;
    border-radius: 2%;
    border-color: #A30000;
    width: 100%;

}

.map {
    position: relative;
    bottom: 30px;
}



.contact .information {
    padding: 10px;
    background-color: oldlace;
    border: 1px solid #ccc;

    height: 130px;
    font-size: 110%;
}

.map iframe {
    width: 100%;
    height: 200px;
    border: 0;
    border-radius: 2%;
}

.employee {
    display: flex;
    gap: 1em;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;

}



.employee h2 {
    width: 100%;
    text-align: left;
    padding: 1em 0;


}


.employee img {
    width: 100px;
    display: block;
}




.employee figure {
    display: flex;
    align-items: flex-start;
    /* aligns image and caption to the left */
    flex-direction: column;

    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;



}


form {
    width: 650px;
    position: absolute;
    top: 120px;
    right: 100px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    align-items: start;
}

fieldset {
    display: grid;
    grid-gap: .3rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;


}


legend {
    padding: 0.5rem;
    color: brown;
    font-size: 1.3em;
}


label,
input,
button,
select,
textarea {
    font-family: "Roboto", sans-serif;
}


label {
    text-align: left;
    padding-right: 1rem;
}


input,
select,
textarea {
    padding: 0.5rem;
    font-size: 1.1rem;
}


input[type="checkbox"] {
    width: 22px;
    height: 22px;
    vertical-align: bottom;
}



button {
    margin: 1rem;
    background-color: brown;
    color: #fff;
    border: none;
    border-radius: .5rem;
    padding: .75rem;
    font-size: 1.2rem;
}


button:hover {
    background-color: darkgreen;
}


.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin: 0.3rem 0;
}

.column1 {
    grid-template-columns: 3fr 1fr;
    margin: 0.5rem 0;
}


.column2 {
    grid-template-columns: 1fr 2fr;
}



/* Index styling */

#main-hero {
    height: 550px;
}

.cta-text {
    font-weight: bold;
    font-size: larger;
    color: #004777;



}

.cta {
    display: block;
    color: var(--accent2-color);
    font-weight: bold;
    font-style: italic;
    text-decoration: none;
    padding: 10px 16px;
    border-radius: 20px;
    background-color: #A30000;
    /* Deep red to match the text color */
    transition: background-color 0.3s ease;
    width: 450px;


}

.cta:hover {
    background-color: darkgreen;
    color: white;
}

.subscriber {
    width: 400px;
    height: 460px;
    position: absolute;
    top: 657px;
    right: 75px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
    border-radius: 0.5rem;
    background-color: #eee;
    display: grid;
    align-items: end;
    background-color: var(--accent2-color);

}



.subscriber fieldset {
    display: grid;
    grid-gap: .3rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: .2rem;


}


.subscriber legend {
    padding: 0.3rem;
    color: brown;
    font-size: 1.3em;
}


.subscriber label,
.subscriber input,
.subscriber button,
.subscriber select,
.subscriber textarea {
    font-family: "Roboto", sans-serif;
}


.subscriber label {
    text-align: left;
    padding-right: 1rem;
}


.subscriber input,
.subscriber select,
.subscriber textarea {
    padding: 0.3rem;
    font-size: 1.1rem;
}



.purpose {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1em;
    align-items: start;
}

.purpose h2 {
    grid-column: 1 / -1;
    /* make h2 span full width */
    text-align: start;
    padding: 1em 0;
}

.purpose img {

    width: 100%;
    display: block;
    height: auto;
}

.purpose figure {
    display: grid;
    align-items: end;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
}

.purpose figcaption {
    align-self: center;
}

/* Trip Page */


.hero a {
    position: absolute;
    top: 150px;
    right: 400px;
    text-align: center;
    font-size: 30px;
    font-style: normal;

}




table {
    max-width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    height: 480px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 3px solid var(--secondary-color);
    padding: 10px;
    text-align: center;
    padding: 20px;
}

th {
    background-color: var(--accent2-color);
}

tr:hover {
    background-color: #f9f9f9;
}

.trips-table {
    margin: 10px;
}



.trips-table h2 {


    text-align: center;
    padding: 1em 0;
    margin-bottom: 1.5rem;


}

.trips-card {
    background-color: var(--accent2-color);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 200px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
}

.trips-card:hover {
    transform: translateY(-5px);
}

.trips-card-content {
    padding: 1em;
}

.trips-card-content h2 {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.availability-footer {
    background-color: #007b8f;
    /* Choose your accent color */
    color: #ffffff;
    text-align: center;
    padding: 0.75em;
    font-weight: bold;
    font-size: 0.9rem;
}



.trips-information h2 {
    grid-column: 1/-1;
    justify-self: center;
    padding: 1em 0;

}


.trips-information {
    margin: 50px 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3rem;
    justify-items: center;
}

.trips-information img {
    width: 200px;
}



.availability-footer {
    background-color: var(--primary-color);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 100px;
}

.bold .available {
    font-weight: 900;
    font-size: xx-large;
}



footer p {
    color: #fff;
}